body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 10px;
    color: #e0e0e0;
}

#chapter-list, #reader {
    max-width: 800px;
    margin: 0 auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    display: block;
    padding: 10px;
    background-color: #2a2a2a;
    border-left: 5px solid #007BFF;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: #3a3a3a;
}


#content h2 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

#content p {
    font-size: 16px;
    line-height: 1.6;
    color: #e0e0e0;
}

button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#prev-btn, #next-btn {
    margin: 10px;
    }
